<!DOCTYPE html>
<html lang="pl">


<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>



<body>

<div class="page">

    <div class="row">
        <div class="sidebar">{% include "partials/sidebar.html" %}</div>

        <div class="content"> {% block content %} {% endblock %} </div>

        <div class="widgets"> {% include "partials/widget-bar.html" %} </div>
    </div>

    <div class="footer"> {% include "partials/footer.html" %} </div>

</div>

</body>
</html>
