{% extends "base.html" %}

{% block title %}O mnie{% endblock %}

{% block content %}
<div class="text-content">
<h1>O mnie</h1>
<img src="static/ja.png" style="float:right"/>

<p>Nazywam się Marcin Gołda, lecz znajomi nazywają mnie Serek.</p>

<p></p>Jestem inżynierem informatyki o specjalności grafika komputerowego, chociaż artysta ze mnie raczej marny ;) <span style="font-size:40%">Ale od czego mamy AI, prawda...?</span> </p>


<p>Obecnie pracuję jako technik wiertniczy przy wykonywaniu odwiertów pod pionowe wymienniki gruntowych pomp ciepła. Wiem, brzmi skomplikowanie, ale po prostu wiercę otwory głębinowe i osadzam w nich sondy; w trzyosobowym zespole, za pomocą wiertnicy.</p>

<p></p>Pochodzę z Dolnego Śląska i tutaj też mieszkam. Skończyłem legnickie Collegium Witelona w 2024r.</p>

<p>Moje główne zainteresowania to wiara, informatyka, dobra literatura faktu, survival i naturalnie gry MMO. To nie wszystko jednak; muszę dodać (nieskromnie!), że moje horyzonty są dość szerokie. Wysoko cenię dobrą muzykę. Umiem co nieco zagrać na gitarze, kiedyś byłem też perkusistą.</p>

<p>Moim marzeniem jest zostać programistą w branży IT.</p>

<p>Zapraszam do regularnego czytania bloga, bowiem w związku z powyższym... treści będą zróżnicowane!</p>
</div>
{% endblock %}
