{% extends "base.html" %}

{% block title %}Wyszukiwanie{% endblock %}

{% block content %}

                {% if query %}
                    <h1 style="margin-bottom: 40px">Wyszukiwanie:
                    <strong>"{{ query }}"</strong>
                {% else %}
                    <p>Wpisz frazę w wyszukiwarkę.</p>
                {% endif %}
                    </h1>


        <!-- PRAWY CONTENT: wyniki wyszukiwania -->

        {% include "partials/post-list.html" with context %}


{% endblock %}
